# データの永続化
## sqlite
* 軽量データベースを実装するC言語のライブラリ
* サーバ用のプロセスを必要としない、組み込み型のデータベースエンジン.
* 単一のファイルによって管理される（インメモリも可能）

In [1]:
import sqlite3

In [ ]:
# DBファイルの保存先パス（相対パスで指定）
path = ''

# google Colbabの場合
# path = '/contnt/'

# DBファイルのパス
db_path = 'test.db'

# DB接続の確率
# DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_path)

# DBへの接続を閉じる
conn.close()

## こういうデータベースを作成してみる
### car.db

| id | name | price |
| - | - | - |
|  |  |  |
|  |  |  |
|  |  |  |

### DB（SQLite）を使う時の処理の流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行
5. 必要があればコミットする
6. コネクションを閉じる

### テーブルを作成

In [4]:
path = ''
db_path = 'car.db'

# DB接続オブジェクトの作成
conn = sqlite3.connect(path + db_path)

# SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトの作成
cur = conn.cursor()
# SQLの作成
# テーブルの作成
sql = 'CREATE TABLE cars (id INT, name TEXT, price REAL);'

# sql文の実行
cur.execute(sql)

# DBへの接続を閉じる
conn.close()

### データをDBに挿入する（単一レコード）

In [5]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # データの挿入
    # INSERT INTO テーブル名 VALUES (列に対応したデータをカンマ区切りで);
    # 文字列データを挿入する場合は，文字列をシングルクォーテーションで挟む
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 7000000);"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

### データをDBに挿入する（複数レコード）

In [6]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # SQL文の作成
    # 複数レコードの挿入
    # INSERT INTO テーブル名 VALUES (列に対応したプレースホルダーをカンマ区切りで);
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    cars = [
        (2, '911カレラ', 15500000),
        (3, 'GRスープラ', 8000000),
        (4, 'シビック Type-R', 5000000)
    ]

    # SQL文の実行
    cur.executemany(sql, cars)
    
    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

### DB内のデータを参照する

In [7]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを参照するSQL
    # SELECT * FROM テーブル名;
    # * の部分は，取得したい列の名前を，区切りで指定することもできる．
    sql = "SELECT * FROM cars;"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    # conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

else:
    for row in cur:
        # 行データ(row)はタプルなので，アンパックして列データを取得
        id, name, price = row
        print(id, name, price)

finally:
    # DBへの接続を閉じる
    conn.close()

1 370z 7000000.0
2 911カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビック Type-R 5000000.0

### データの削除

In [8]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを削除するSQL
    # DELETE FROM テーブル名 WHERE id = 1;
    sql = "DELETE FROM cars WHERE id = 1;"
    # sql = "DELETE FROM cars WHERE name = '911カレラ';"
    # sql = "DELETE FROM cars WHERE name like '%カレラ';"

    # SQL文の実行
    cur.execute(sql)

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

### データの更新

In [9]:
path = ''
db_name = 'car.db'

try:
    # DB接続オブジェクトの作成
    conn = sqlite3.connect(path + db_name)

    # SQL（RDBを操作するための言語）を実行するためのカーソルオブジェクトを取得
    cur = conn.cursor()

    # データを更新するSQL
    # UPDATE テーブル名 SET カラム名=更新値 WHERE 更新したい行を指定する条件;
    sql = "UPDATE cars SET price = ? WHERE id = ?;"

    # SQL文の実行
    cur.execute(sql, (5000000, 2))

    # 変更をDBに反映させる
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()